@import url(https://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic);

body {
    font-family: 'PT Sans', sans-serif;;
}


h3 {
    margin-top: 4px;
}


li {
    list-style-type: none;
}


.counter {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #3F51B5;
    border-radius: 10px;
}

.preload-wrapper {
  text-align: center;
  height: 100vh;
}
