.page-main__tags {
  margin: 1rem 0.35rem 0 1rem;
}

.tags__list {
  padding: 0;
  margin: 0;
}

.tags__item {
  color: #222;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1rem;
  padding: 1rem;
  outline: 0;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .098), 0 1px 5px 0 rgba(0, 0, 0, .084);

  &:hover {
    background-color: #e3e3e3;
    text-decoration: none;
  }

  &-active {
    background-color: #e3e3e3;
    text-decoration: none;
  }

}