.page-main__wall {
  margin: 1rem 1rem 0 0.35rem;

  &-caption {
    margin: 0 auto;
  }
}

#vertical-container {
  height: 95vh;
  width: 100%;
}

.repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  padding-top: 10px;
  height: 40px;
}

md-content {
  margin: 16px;
}

md-virtual-repeat-container {
  border: solid 1px grey;
}

.md-virtual-repeat-container .md-virtual-repeat-offsetter {
  padding-left: 16px;
}